#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  cursor: pointer;
}

button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
}
