.container{
  text-align: center;
}

.box {
  height: 600px;
  width: auto;
  background-image: url('../src/assets/1516185660166076716blank-digital-clock-clipart.hi.png'); /* Add your clock image here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.time {
  font-size: 18em;
  color: black; 
  text-align: center;
  position: initial;
}
